body {
	margin: 0% 0% 0% 20%;
    padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    color: #505050;
}
div {
    display: block;
}
.table-bordered {
    border: 1px solid #ddd;
	width: 100%;
    margin-bottom: 20px;
}
table {
    max-width: 50%;
    background-color: transparent;
	border-spacing: 0;
    border-collapse: collapse;
}